@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate {
    animation: rotation 0.8s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .slide {
    animation: slide 0.8s ease-out;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .grid-lg {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  .pop {
    animation: pop 0.8s ease-out;
  }
  @keyframes pop {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1.2, 1.2);
    }
  }
  .load {
    animation: load 0.8s ease-out infinite;
  }
  @keyframes load {
    0%,
    100% {
      transform: scale(0.8, 0.8);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
  }
  .custom-file-input {
    color: transparent;
  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: "Upload image";
    color: lightgray;
    display: inline-block;
    background: #b91c1c;
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px 20px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 12pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: #f87171;
  }
}
